### == Pandas ==

#### Pandas Nedir?

Pandas, Python programlama dilinin en önemli kütüphanelerinden biridir. Pandas ile bir veri bilimi projesindeki veri okuma, veri ön işleme ve veri temizleme aşamaları yapılır. Makine öğrenmesi veya derin öğrenme gibi analizlere başlamadan önce veriyi analize uygun hale getirmek oldukça önemlidir.

> EK NOT: Pandas sayısal hesaplamalar için NumPy ve SciPy gibi kütüphaneleri ve veriyi görselleştirmek için Matplotlib kütüphanesini kullanır.

Pandas’ın NumPy’daki metotlara benzer metotları vardır. NumPy aynı veri tipleri ile çalışırken Pandas farklı veri tipleri ile de çalışabilir. Excelde yazılmış bir veri seti ya da bir SQL tablosu verisi, Pandas ile kolayca analiz edilebilir. Pandas, 2010 yılından beri açık kaynak kodlu bir kütüphanedir. Dünyanın her yerindeki geliştiriciler tarafından bu kütüphane sürekli güncellenmektedir.

#### Pandas Nasıl Yüklenir ve Kullanılır?

Veri analizi için gerekli kütüphaneleri yüklemenin en kolay yolu Anaconda platformunu kullanmaktır. Anaconda ücretsiz bir platformdur ve Anaconda ile Pandas, NumPy, Matplotlib, Scikit-Learn gibi önemli kütüphaneler yüklü olarak gelir. Anaconda’nın nasıl yükleneceğini ve nasıl kullanılacağını merak ediyorsanız aşağıdaki video dersi izlemenizi tavsiye ederim. Anaconda kullanmadan Pandas’ı yüklemek isterseniz pip komutunu kullanabilirsiniz. Komut satırına,

> pip install pandas

yazarsanız Pandas’ın en son sürümü yüklenir. Eğer Pandas’ın belirli bir sürümünü yüklemek isterseniz

>pip install pandas=versiyon

komutu kullanılır. Veri analizi için veriyi iyi görselleştirdiğinden dolayı genellikle web tabanlı Jupyter Notebook kullanılır. Jupyter Notebook hakkında daha fazla bilgiyi aşağıdaki video derste bulabilirsiniz. Pandas kütüphanesini yükledikten sonra kullanmak için import etmek gerekir.

>import pandas

Pandas’ı import ettikten sonra Pandas’da kullanacağımız her metot için pandas kelimesini kullanmak gerekir.Bu uzun kelime yerine kısaltma kullanabilirsiniz. Pandas için genellikle pd kısaltması kullanılır.
Pandas’ı pd kısaltması ile kullanmak için,

>import pandas as pd

komutu kullanılır. Artık pd kısaltmasını kullanarak Pandas ile top gibi oynayabilirsiniz. Örneğin pd. yazıp tab tuşuna basarsak pandasın içindeki metotları görebilirsiniz.

In [1]:
import pandas as pd # pandas kütüphanesini import ediyoruz
import seaborn as sns # hazır veri seti için seaborn kutuphanesini kuruyoruz.
import numpy as np # numerik işlemlere ihtiyac duymamız durumunda kullanacağımız numpy kutuphanesini de yukleyelim

#### Veri Setini Yukleme

In [ ]:
df = pd.read_csv("dosyadizi/dosya")
# örnek kullanım: df = pd.read_csv("datasets/data1.csv")

In [14]:
# bu eğitimde hazır veri seti kullancağımız için seaborn kutuphanesini kullanıyoruz
df = sns.load_dataset("penguins")

Veri setini dataframe tipine pandas yardımı ile dönüştürdükten sonra df adında bir değişkene atadık. Bu değişkeni çağıralım

In [13]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

#### Veri setinin ilk 5 satırını görmek için

In [15]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

#### Veri setinin son 5 satırını görmek için

In [16]:
df.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

#### Veri setine hızlı bir bakış atmak için

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

> colon isimleri, kaç veri olduğu, eksik değer olup olmadığı, veri tipleri hakkında bilgi verir

#### Veri setinindeki kolonların veri tiplerini öğrenmek için

In [18]:
df.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

#### Veri setinin kolonlarını öğrenmek için

In [20]:
df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

#### Veri setinin boyutunu öğrenmek için

In [21]:
df.shape

(344, 7)

#### Veri setinin basit istatistik bilgilerini öğrenmek için

In [24]:
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

#### Veri setinde herhangi bir "null" değer var mı?

In [32]:
df.isnull().any()

species              False
island               False
bill_length_mm        True
bill_depth_mm         True
flipper_length_mm     True
body_mass_g           True
sex                   True
dtype: bool

#

Pandas kütüphanesi oldukça geniş bir kütüphanedir. Ve pandası öğrenmenin en iyi yolu sürekli pratik yapmaktır. Bu yüzden eğitimin ilerleyen kısımlarında hazır örnekler üzerinden, sürekli pratik yaparak ilerleyecektir. Şu ana kadar pandas kütüphanesinin sadece bir kısmını gördük, buradaki amacımız söz dizimine aşina olmak ve basitçe neler yapabileceğimizi görüp motivasyon oluşturmak.

1. (Zorunlu) W3schools sitesi üzerinden, konulara çalıştıktan hemen sonra pratik yaparak öğrendiklerimizi pekiştireceğiz; https://www.w3schools.com/python/pandas/pandas_intro.asp

2. (Opsiyonel) W3resource sitesi üzerinden, pandas ile yüzlerce egzersiz çözerek pandasın hemen hemen tüm fonksiyonlarına hakim olabiliriz. Bu zorunlu değildir fakat meraklısına çok faydalı olacaktır.;
https://www.w3schools.com/python/pandas/pandas_intro.asp